<!DOCTYPE html>
<html>
<head>
<title></title>

<link rel="stylesheet" href="css/pygments.css">
<link rel="stylesheet" href="css/doc_style.css">

</head>
<body>

<ul id="table-of-content">
<li><a href="#toc-0">Tooltip</a><ul>
<li><a href="#toc-1">Html element</a><ul>
<li><a href="#toc-2">Example</a></li></ul>
</li>
<li><a href="#toc-3">JavaScript code</a></li>
<li><a href="#toc-4">CSS code (only in case of custom settings)</a></li>
</ul>
</li>
</ul>
<p>Title:      Tooltip
desc:       Tooltip
template:   document
nav:        Bootstrap&gt;Tooltip
date:       2018/03/18</p>
<h1>Tooltip</h1>
<h2>Html element</h2>
<ul>
<li><code>data-toggle</code> : tooltip</li>
<li><code>data-html</code> : true (for supporting html, otherwise remove)</li>
<li><code>style</code> : set tooltip text style</li>
<li><code>title</code> : text</li>
</ul>
<div class="highlight"><pre><span></span><span class="p">&lt;</span><span class="nt">div</span> <span class="na">data-toggle</span><span class="o">=</span><span class="s">&quot;tooltip&quot;</span> <span class="na">data-html</span><span class="o">=</span><span class="s">&quot;true&quot;</span> <span class="na">data-placement</span><span class="o">=</span><span class="s">&quot;left&quot;</span> <span class="na">style</span><span class="o">=</span><span class="s">&quot;text-align:left;&quot;</span> <span class="na">title</span><span class="o">=</span><span class="s">&quot;text&quot;</span><span class="p">&gt;&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
</pre></div>
<h3>Example</h3>
<div class="highlight"><pre><span></span><span class="p">&lt;</span><span class="nt">td</span> <span class="na">data-toggle</span><span class="o">=</span><span class="s">&quot;tooltip&quot;</span> <span class="na">data-html</span><span class="o">=</span><span class="s">&quot;true&quot;</span> <span class="na">data-placement</span><span class="o">=</span><span class="s">&quot;left&quot;</span> <span class="na">style</span><span class="o">=</span><span class="s">&quot;text-align:left;&quot;</span> <span class="na">title</span><span class="o">=</span><span class="s">&quot;{{ field|get_prod_help }}&quot;</span><span class="p">&gt;</span>{{ field|replacecr_prod_sep }}<span class="p">&lt;/</span><span class="nt">td</span><span class="p">&gt;</span>
</pre></div>
<h2>JavaScript code</h2>
<div class="highlight"><pre><span></span><span class="nx">$</span><span class="p">(</span><span class="kd">function</span> <span class="p">()</span> <span class="p">{</span>
  <span class="nx">$</span><span class="p">(</span><span class="s1">&#39;[data-toggle=&quot;tooltip&quot;]&#39;</span><span class="p">).</span><span class="nx">tooltip</span><span class="p">()</span>
<span class="p">});</span>
</pre></div>
<ul>
<li><p>Call it</p>
<div class="highlight"><pre><span></span><span class="nx">$</span><span class="p">(</span><span class="s1">&#39;#Customer&#39;</span><span class="p">).</span><span class="nx">tooltip</span><span class="p">({</span><span class="s1">&#39;trigger&#39;</span><span class="o">:</span><span class="s1">&#39;input&#39;</span><span class="p">,</span> <span class="s1">&#39;data-html&#39;</span><span class="o">:</span><span class="kc">true</span><span class="p">,</span> <span class="s1">&#39;title&#39;</span><span class="o">:</span> <span class="s1">&#39;&#39;</span><span class="p">});</span>
</pre></div>
<p><strong>or</strong></p>
<div class="highlight"><pre><span></span><span class="nx">$</span><span class="p">(</span><span class="s1">&#39;#Customer&#39;</span><span class="p">).</span><span class="nx">attr</span><span class="p">(</span><span class="s1">&#39;title&#39;</span><span class="p">,</span> <span class="s1">&#39;NEW_TITLE&#39;</span><span class="p">)</span>
            <span class="p">.</span><span class="nx">tooltip</span><span class="p">(</span><span class="s1">&#39;fixTitle&#39;</span><span class="p">)</span>
            <span class="p">.</span><span class="nx">tooltip</span><span class="p">(</span><span class="s1">&#39;show&#39;</span><span class="p">);</span>
</pre></div>
<p>​</p>
</li>
</ul>
<h2>CSS code (only in case of custom settings)</h2>
<div class="highlight"><pre><span></span><span class="p">.</span><span class="nc">tooltip</span> <span class="p">{</span>
    <span class="k">position</span><span class="p">:</span> <span class="kc">relative</span><span class="p">;</span>
    <span class="k">display</span><span class="p">:</span> <span class="kc">inline-block</span><span class="p">;</span>
    <span class="k">border-bottom</span><span class="p">:</span> <span class="mi">1</span><span class="kt">px</span> <span class="kc">dotted</span> <span class="kc">black</span><span class="p">;</span>
<span class="p">}</span>

<span class="p">.</span><span class="nc">tooltip</span> <span class="p">.</span><span class="nc">tooltiptext</span> <span class="p">{</span>
    <span class="k">visibility</span><span class="p">:</span> <span class="kc">hidden</span><span class="p">;</span>
    <span class="k">width</span><span class="p">:</span> <span class="mi">120</span><span class="kt">px</span><span class="p">;</span>
    <span class="k">background-color</span><span class="p">:</span> <span class="kc">black</span><span class="p">;</span>
    <span class="k">color</span><span class="p">:</span> <span class="mh">#fff</span><span class="p">;</span>
    <span class="k">text-align</span><span class="p">:</span> <span class="kc">center</span><span class="p">;</span>
    <span class="k">border-radius</span><span class="p">:</span> <span class="mi">6</span><span class="kt">px</span><span class="p">;</span>
    <span class="k">padding</span><span class="p">:</span> <span class="mi">5</span><span class="kt">px</span> <span class="mi">0</span><span class="p">;</span>
    <span class="k">position</span><span class="p">:</span> <span class="kc">absolute</span><span class="p">;</span>
    <span class="k">z-index</span><span class="p">:</span> <span class="mi">1</span><span class="p">;</span>
    <span class="k">top</span><span class="p">:</span> <span class="mi">150</span><span class="kt">%</span><span class="p">;</span>
    <span class="k">left</span><span class="p">:</span> <span class="mi">50</span><span class="kt">%</span><span class="p">;</span>
    <span class="k">margin-left</span><span class="p">:</span> <span class="mi">-60</span><span class="kt">px</span><span class="p">;</span>
<span class="p">}</span>

<span class="p">.</span><span class="nc">tooltip</span> <span class="p">.</span><span class="nc">tooltiptext</span><span class="p">::</span><span class="nd">after</span> <span class="p">{</span>
    <span class="k">content</span><span class="p">:</span> <span class="s2">&quot;&quot;</span><span class="p">;</span>
    <span class="k">position</span><span class="p">:</span> <span class="kc">absolute</span><span class="p">;</span>
    <span class="k">bottom</span><span class="p">:</span> <span class="mi">100</span><span class="kt">%</span><span class="p">;</span>
    <span class="k">left</span><span class="p">:</span> <span class="mi">50</span><span class="kt">%</span><span class="p">;</span>
    <span class="k">margin-left</span><span class="p">:</span> <span class="mi">-5</span><span class="kt">px</span><span class="p">;</span>
    <span class="k">border-width</span><span class="p">:</span> <span class="mi">5</span><span class="kt">px</span><span class="p">;</span>
    <span class="k">border-style</span><span class="p">:</span> <span class="kc">solid</span><span class="p">;</span>
    <span class="k">border-color</span><span class="p">:</span> <span class="kc">transparent</span> <span class="kc">transparent</span> <span class="kc">black</span> <span class="kc">transparent</span><span class="p">;</span>
<span class="p">}</span>

<span class="p">.</span><span class="nc">tooltip</span><span class="p">:</span><span class="nd">hover</span> <span class="p">.</span><span class="nc">tooltiptext</span> <span class="p">{</span>
    <span class="k">visibility</span><span class="p">:</span> <span class="kc">visible</span><span class="p">;</span>
<span class="p">}</span>
</pre></div>


<script src="js/callouts.js"></script>
<script>

</script>

</body>
</html>