/** PRINT CSS */
/* @media print {
     @page {
         margin: 0;
    }
     body {
         margin: 1.6cm;
    }
}
 */
/* export (pdf) */
/* @media print{
    @page {
        size: landscape
    }
}
 */
/* @media print {
     h1 {
        page-break-before: always;
    }
     h1::first-child {
        page-break-before: none !important;
    }
     h2 {
        page-break-before: always;
    }
     h2 {
        page-break-inside: avoid;
    }
}
 */
 * {
     font-family: Arial, Helvetica, sans-serif;
}
 @media print {
    /* handle header and footer */ 
    .page-header, .page-footer  {
        display: "block";
    }

     thead {
         display: table-header-group;
    }
     tfoot {
         display: table-footer-group;
    }
     button {
         display: none;
    }
     html, body, page {
         margin: 0;
    }
     h1, h2, h3 {
         padding-top: 50px;
         margin-top: 50px;
    }
     .doc {
         margin: 0cm;
    }
     @page {
         size: A4;
         margin: 0;
        /* margin: 2cm;
         */
        /* @bottom-right {
             content: counter(page) " of " counter(pages);
        }
         */
    }
    /* Print with the correct background colours on all elements */
     * {
         -webkit-print-color-adjust: exact;
         print-color-adjust: exact;
         color-adjust: exact;
    }
    /* Hide the NAV bar */
     body .openbtn {
         display: none !important;
    }
     body .topnav {
         display: none !important;
    }
     body .sidebar {
        /* margin-left: -260px !important;
         */
         display: none !important;
    }
     body .page-main {
         margin-left: 0px !important;
    }
    /** Define page break behaviour */
     table, p, pre, blockquote {
         page-break-inside: avoid;
    }
     ol, ul, img, video, table {
         page-break-inside: avoid;
    }
     h1, h2, h3, h4, h5, h6 {
         page-break-after: avoid;
    }
     .page-md a[href^=http]:after {
         content: " <" attr(href) "> ";
    }
}

h1 {
     page-break-before: always;
}
 h2 {
     page-break-before: always;
}
 h2:first-of-type {
     page-break-before: avoid;
}
