/*
body {
  font-family: "Lato", sans-serif;
}
*/

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 65;
  left: 0;
  background-color: #333; /* #111 */
  overflow-x: hidden;
  transition: 0.25s; /* moved to js */
  /* padding-top: 60px; */
  align-items: center;
  justify-content: center;
  overflow-x: auto;
  overflow-y: auto;

}

.sidebar a {
  /* padding: 0px 8px 8px 32px; */ /* padding: 8px 8px 8px 32px; */
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.25s; /* moved to js */
}

#myUL li a:before {
    content: '♦\A';
    color: white;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  /* position: fixed; */
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #333; /* #111 */
  color: white;
  padding: 10px 15px;
  border: none;
  /* position: fixed; */
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;  /* moved to js */
  padding: 16px;
  margin-top: 30;
  overflow-x: hidden;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.sidebar_search{
    background: #eee;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -o-border-radius: 10px 10px 10px 10px;
    border: 0 none;
    width: 160px;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 18;
}

.sidebar_btn{
    /* margin-left: 20px; */
    align: center;
    border-radius: 10px 10px 10px 10px;
/*    margin-top: 10px;
    margin-left: 20;
    margin-right: 10;*/
    height: 30;
}

.sidebar_split_left,.sidebar_split_right {
    background-color: black;
    color: antiquewhite;
    width: 50%;
    height: 30;
    bottom: 0px;
    position: absolute;
}


.sidebar_split_left {
    left: 0px;
}


.sidebar_split_right {
    right: 0px;
}

.sidebar_active {
    background-color: antiquewhite;
    color: black;
}

#view_buttons {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 400px;
    box-sizing: content-box;
}

div::-webkit-scrollbar { /* #view_buttons::-webkit-scrollbar { */
    width: 0px;
    background: transparent;
}


/* Outline */
#myoutline::before {
    content: "Outline";
    font-family: Verdana, Geneva, sans-serif;
    font-size: 23;
    margin-left: 50;
}

#myoutline {
    font-size: 15pt;
    font-family: Verdana, Geneva, sans-serif;
    margin-top: 20;
    color: bisque;
    padding: 0px 0px 100px 0px;
}

#myoutline a {
    text-decoration: none;
    color: indianred;
    color: #fdf8f8;
    font-size: 18;
}

.sidebar_elements {
    position: relative;
    bottom: 30px;
    color: white;
    z-index: -2;
    background: #333;
}
