ul #myUL {
  list-style-type: none;
}

#myUL {
  margin: 0;
  padding: 0;
}

.caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.caret::before {
  content: "\25B6";
  color: '#eea170';
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */'
  transform: rotate(90deg);
}

.nested {
  display: none;
}

.active {
  display: block;
} 

/* custom style */
#myUL li a {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    /* color: white; */
    color: #5effc6;
}

#myUL li {
    color: white;
    list-style-type: none;
    font-family: "Lucida Console", Monaco, monospace !important;
}