<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title>Notebook</title>
    <!--      <script type="text/javascript" src="{{ url_for('static', filename='map.js') }}"></script>-->

    <style>
        #namanyay-search-btn {
        background:#0099ff;
        color:white;
        font: 'trebuchet ms', trebuchet;
        padding:10px 20px;
        border-radius:0 10px 10px 0;
        -moz-border-radius:0 10px 10px 0;
        -webkit-border-radius:0 10px 10px 0;
        -o-border-radius:0 10px 10px 0;
        border:0 none;
        font-weight:bold;
        }

        #namanyay-search-box {
        background: #eee;
        padding:10px;
         border-radius:10px 0 0 10px;
        -moz-border-radius:10px 0 0 10px;
        -webkit-border-radius:10px 0 0 10px;
        -o-border-radius:10px 0 0 10px;
        border:0 none;
        width:160px;
         }

        .sticky {
          position: -webkit-sticky;
          position: sticky;
          top: 0;
        }

        body {
          margin: 0px;
        }

        .noselect {
          -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
             -khtml-user-select: none; /* Konqueror HTML */
               -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
                    user-select: none; /* Non-prefixed version, currently
                                          supported by Chrome and Opera */
        }
      </style>

    <!--sidebar css-->
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/sidebar.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/tree_view.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/navbar.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/icons.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/table.css') }}">

    {% if board %}
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bulma.min.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/landscape.css') }}">
    {% else %}
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/emoji.css') }}">

    <!-- doc style files -->
    {%      for doc_style in doc_style_files       %}
    <link rel="stylesheet" title="{{ doc_style|get_css_title }}" type="text/css" href= "{{ url_for('static', filename='css/doc_style/') }}{{ doc_style }} ">
    {%      endfor      %}
    <link rel="stylesheet" type="text/css" href= "url_for('static', filename='css/doc_style/system_docstyle_settings.css')">

    {% endif%}
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/pygments.css') }}">

    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/print.css') }}">

</head>

<body>

<!--NAVBAR-->
<div id="topnav" class="topnav">
    <button class="openbtn" onclick="ToggleNav()" style="display:inline-block; position: absolute;">☰ Toggle Sidebar</button>
    <div style="margin-left:30px"> </div>
    <div class="center">
<!--        <a id="btn_docnado" class="active" onclick="enable_docnado()">Documents</a>-->
        <div class="dropdown">
            <button class="dropbtn" style="border-top-left-radius: 12px; border-bottom-left-radius: 12px;">Apply Style
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                {%      for doc_style in doc_style_files       %}
                <a onclick="switch_style('{{ doc_style|get_css_title }}');return false;" href="#">{{ doc_style|get_css_title }}</a>
                {% endfor %}
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn" style="border-top-right-radius: 12px; border-bottom-right-radius: 12px;">Export
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a id="print" href="#" onclick="window.print();">Print</a>
                <a id="open_pdf" href="{{ pdf_link }}" target="_blank">Open as PDF</a>
                <a id="download_pdf" href="{{ pdf_link }}" target="_blank" download="{{ pdf_link|pdffilename }} ">Download Page as PDF</a>
            </div>
        </div>

        <div id="frame_search" style="margin-right: -50%; display: inline-block;" onsubmit='return validate_submit()'>
            <form id="searchthis" action="{{ url_for('search') }}" style="display:inline;" method="POST" class="">
                <!-- Search box for blogger by Namanyay Goel //-->
                <input id="namanyay-search-box" name="criteria" size="40" type="text" placeholder="  Search ... "/>
                <input id="namanyay-search-btn" value="Search" name="criteria" type="submit"/>
                <input type="checkbox" value="ignorecase_flag" name="ignorecase_flag" id="checkbox_ignorecase"><label for="checkbox_ignorecase">Ignore Case</label>
                <input type="checkbox" value="regex_flag" name="regex_flag" id="checkbox_regex"><label for="checkbox_regex">Regex</label>
            </form>
        </div>

    </div>
</div>

<div id="mySidebar" class="sidebar">
<!--    <button class="openbtn" onclick="ToggleNav()" style="display:inline-block;">☰ Toggle Sidebar</button>-->
<!--    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="display:inline-block;">×</a>-->
    <input type="text" id="searchbox" onkeyup="search()" placeholder="filter.." title="Type a file" class="myUL sidebar_search" style="width: 80%;">
    <div class="myUL center">
        <button onclick="expand_collapse_all()" class="sidebar_btn" style="background-color:#f14e4e">Expand All</button>
        <button onclick="expand_collapse_all('collapse')" class="sidebar_btn" style="background-color:#f14e4e">Collapse All</button>
    </div>
    <!-- SIDEBAR TREE -->

    {{ doc_tree|safe }}

    <!-- Add 4 elements for padding -->
    <li class="myUL" style="opacity: 0.0;"><a></a></li>
    <li class="myUL" style="opacity: 0.0;"><a></a></li>
    <li class="myUL" style="opacity: 0.0;"><a></a></li>
    <li class="myUL" style="opacity: 0.0;"><a></a></li>
    <!-- /SIDEBAR TREE -->

    <!-- outline view -->
    <div id="myoutline">

    </div>

    <!-- /outline view -->

    <!-- Sidebar buttons switching between tree and outline -->
    <div id="view_buttons">
        <div class="sidebar_elements">
            <input onclick="toggle_toc()" type="checkbox" id="toc_document" name="toc_document" checked>
            <label class="noselect" for="toc_document">Display TOC in the document</label>
        </div>
        <button onclick="select_view('files')" class="sidebar_split_left sidebar_active" style="">Files</button>
        <button onclick="select_view('outline')" class="sidebar_split_right" style="">Outline</button>
    </div>
</div>

<div id="main" class="page-main">

    <div class="page-header" style="text-align: center">
        I'm The Header
        <br/>
        <button type="button" onClick="window.print()" style="background: pink">
          PRINT ME!
        </button>
    </div>

    <div class="page-footer">
        I'm The Footer
    </div>

        {% block content %}

        {% endblock %}

<!--    <tfoot>-->
<!--      <tr>-->
<!--        <td>-->
<!--          &lt;!&ndash;place holder for the fixed-position footer&ndash;&gt;-->
<!--          <div class="page-footer-space"></div>-->
<!--        </td>-->
<!--      </tr>-->
<!--    </tfoot>-->
</div>

<script type = "text/javascript">
  {% if len_sidebar %}
  let len_sidebar_N = {{ len_sidebar*5 }}
  {% else %}
  let len_sidebar_N = 400;
{% endif %}
  if (len_sidebar_N > 400) {
    len_sidebar_N = 400;
  }
  let len_sidebar = len_sidebar_N + "px"
</script>

    <script>
    function switch_style ( css_title )
    {
      var i, link_tag ;
      for (i = 0, link_tag = document.getElementsByTagName("link") ; i < link_tag.length ; i++ ) {
        if ((link_tag[i].rel.indexOf( "stylesheet" ) != -1) && link_tag[i].title) {
          link_tag[i].disabled = true ;
          if (link_tag[i].title == css_title) {
            link_tag[i].disabled = false ;
          }
        }
      }
      window.sessionStorage.setItem('css_title', css_title);
    }


<!--    switch_style ( 'perforce' );-->
    </script>
<script type="text/javascript" src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/tree_view.js') }}"></script>

<!-- Exclude unneeded js files reserved to the documentation rendering -->
{% if self._TemplateReference__context.name != 'search.html' %}
<script type="text/javascript" src="{{ url_for('static', filename='js/callouts.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/toc.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/emoji.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/checklist.js') }}"></script>
{% endif %}


<script type = "text/javascript">

function openNav() {
  document.getElementById("mySidebar").style.width = len_sidebar;
  document.getElementById("main").style.marginLeft = len_sidebar;

  document.getElementById("view_buttons").style.width = len_sidebar;
}


function toggle_toc(){
    let doc_toc = document.getElementById("table-of-content");
    let toc_document = document.getElementById("toc_document");

    if (toc_document.checked == true){
        doc_toc.style.display = "block";
    }
    else{
        doc_toc.style.display = "none";
    }
}

function search() {
    /* Note: search is based on the div id */
    var input, filter, table, p, i;
    input = document.getElementById("searchbox");
    filter = input.value.toUpperCase();
    left_sidebar = document.getElementById("mySidebar");
    p = left_sidebar.getElementsByTagName("a");

    for (i = 0; i < p.length; i++) {
        var text = p[i].textContent;
        if (text.toUpperCase().indexOf(filter) > -1) {
            p[i].style.display = "";
        } else {
            p[i].style.display = "none";
        }
    }


    if (input.value.length == 0){
        expand_collapse_all("collapse");
    }
    else{
        expand_collapse_all();
    }
}

function validate_submit(){
    let searchbox_content = document.getElementById('namanyay-search-box').value;
    searchbox_content = searchbox_content.replace(/\s+/g, '');

    if (searchbox_content != ''){
        return true;
    }
    else{
        return false;
    }
}


window.onload = openNav();

openNav();
expand_collapse_all();
resize_sidebar();
select_view('files');

/* Load last style used (saved in sessionStorage ) */
try {
  switch_style ( window.sessionStorage.getItem('css_title') );
}
catch(err) {
  console.log(err.message);
}
  </script>


</body>


</html>
