{% extends 'base.html' %}

{% block content %}


    <div id="frame_search" style="margin-right: -50%; margin-top: 70px;">
        {% if search_results %}
        <!-- SEARCH RESULTS-->
        <h2 style="font-family:Verdana">{{ no_text }}esults for <div style="font-family:Courier, monospace;">"{{ search_criteria|safe }}"  {{ options }}</div></h2>

        {% if not no_text.startswith('No') %}
        <table>
            <tr>
                <th>Document</th>
                <th>Number of occurrences</th>
            </tr>
            {% for file, occ in search_results.items() %}
            {% if occ > 0 %}
            <tr>
                <td><a href="{{ url_for('route_doc_links', file=docs_root + '/' + file) }}">{{ file }}</a></td>
                <td>{{ occ }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
        {% endif %}
        {% endif %}
 </div>
{% endblock %}