/* Heading 1 */
.doc h1 {
    color: #E91E63;
    margin-top: 40;
    margin-bottom: 20;
}

/* Heading 2 */
.doc h2 {
    color: #3F51B5;
    margin-top: 40;
    margin-bottom: 20;
}

.doc h2::after {
    content: ' ';
    display: block;
    border: 2px solid #3F51B5;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    margin-top: 10;
}

/* Heading 3 */
.doc h3 {
    color: grey;
    margin-top: 40;
    margin-bottom: 20;
}

/* style for all elements, except source code fences, which are handled with specific settings below */
.doc :not(code) {
    font-family: Verdana, Geneva, sans-serif;
}

/* content: if the content is embedded in a different element, "body" might change */
.doc {
    margin: 55px;
}

/* `code` */
.doc span {
    font-family: "Lucida Console", Monaco, monospace !important;
}

/* `code` */
.doc p code {
    color: #ff4e4e;
    font-family: "Lucida Console", Monaco, monospace;
}

.doc code {
    color: #ff4e4e;
    font-family: "Lucida Console", Monaco, monospace;
}

.doc pre code {
    color: white;
}

/* source code: it's also affected by pygments */
.doc pre {
    color: #f9ebeb;
    font-family: "Lucida Console", Monaco, monospace;
    padding: 20px;

    /* wrap in case of overflow */
    white-space: normal;       /* css-3 */
/*     white-space: -moz-pre-wrap; */  /* Mozilla, since 1999 */
/*    white-space: -pre-wrap;*/      /* Opera 4-6 */
/*    white-space: -o-pre-wrap;*/    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */

}

.highlight {
    font-family: Verdana, Geneva, sans-serif;
}

/* numbering list */
.doc ol > li:before {
    position: absolute;
    top: 0;
    left: -40px;
    font-weight: bold;
    content: counter(li-counter);
    counter-increment: li-counter;
}

.doc ol > li {
    position: relative;
    margin-bottom: 20px;
    padding-left: 0.5em;
    border-left: 1px solid #d9d9d9;
}

.doc ol {
    list-style-type: none;
    margin-left: 20px;
    counter-reset: li-counter;
}


/* Callout Info */
p.info {
    display: block;
    width: 100%;
    margin: 32px 0px;
    padding: 24px 24px 24px 50px;
    border-left: 4px solid;
    border-radius: 3px;
    background-color: #f5f7f9;
    border-left-color: #3884ff;
}

p.info:before {
    border-radius: 50%;
    margin-left: -40px;
    margin-top: -4px;
    float: left;
    text-align: center;
    font-size: 20px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    border: 1px solid;
    border-color: #3884ff;
    color: #3884ff;
    content: "i";
    line-height: 26px;
}

/* Callout Warning */
p.warning {
    display: block;
    width: 100%;
    margin: 32px 0px;
    padding: 24px 24px 24px 50px;
    border-left: 4px solid;
    border-radius: 3px;
    background-color: #fffef6;
    border-left-color: #ffc838;
}

p.warning:before {
    border-radius: 50%;
    margin-left: -40px;
    margin-top: -4px;
    float: left;
    text-align: center;
    font-size: 20px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    border: 1px solid;
    border-color: #ffc838;
    color: #ffc838;
    content: "!";
    line-height: 26px;
}

/* Callout Danger */
p.danger {
    display: block;
    width: 100%;
    margin: 32px 0px;
    padding: 24px 24px 24px 50px;
    border-left: 4px solid;
    border-radius: 3px;
    background-color: #da302b;
    border-left-color: #ff0700;
    color: #ffffff;
    font-weight: bold;
}

p.danger:before {
    border-radius: 50%;
    margin-left: -40px;
    margin-top: -4px;
    float: left;
    text-align: center;
    font-size: 20px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    border: 1px solid;
    border-color: #ffffff;
    color: #ffffff;
    content: "!!";
    line-height: 26px;
}

/* Callout Tip */
p.tip {
    display: block;
    width: 100%;
    margin: 32px 0px;
    padding: 24px 24px 24px 50px;
    border-left: 4px solid;
    border-radius: 3px;
    background-color: #f5f7f9;
    border-left-color: #5cb85c;
}

p.tip:before {
    border-radius: 50%;
    margin-left: -40px;
    margin-top: -4px;
    float: left;
    text-align: center;
    font-size: 20px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    border: 1px solid;
    border: none;
    color: #5cb85c;
    content: "Tip";
}


/* Blockquote (Note) */
/* .doc blockquote {
    margin-inline-start: 0px;
    margin-inline-end: 40px;
}     */
    
.doc blockquote p {
    display: block;
    width: 100%;
    margin: 32px 0px;
    padding: 10px 24px 24px 10px; /* padding: 24px 24px 24px 50px; */
    border-left: 4px solid;
    border-radius: 3px;
    background-color: #f5bdc2;
    border-left-color: #cc2030;
}

.doc blockquote p:before {
    border-radius: 50%;
/*     margin-left: -40px; */
    margin-top: -4px;
/*     float: left; */
    text-align: center;
/*     font-size: 20px; */
    width: 30px;
    height: 30px;
/*     line-height: 30px; */
    font-weight: bold;
/*     border: 1px solid; */
    border: none;
/*     color: #5cb85c; */
    /* content: "Tip"; */
}

.doc blockquote p::before {
    content: "Note: \A";
    white-space: pre;
    color: #dc3031;
}

em:not(:first-child):before { /* show carriage return in Notes */
    content: "\A";
    white-space: pre;
}


/* code fences line number */


/* Table of contents */
ul#table-of-content::before {
    content: "Table of contents";
    font-family: Verdana, Geneva, sans-serif;
    font-size: 23;
    margin-left: -50;
}

ul#table-of-content {
    font-size: 15pt;
    font-family: Verdana, Geneva, sans-serif;
}

ul#table-of-content a {
    text-decoration: none;
    color: indianred;
}

/* handling anchor link with Navbar:
   value must be the height of the navbar
 */
h1, h2, h3 {
    padding-top:80px;
    margin-top:-80px;
}

/* checklist stuyle */
.doc li {
    list-style-type: none;
}

.doc input[type='checkbox']{
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  vertical-align: middle;
}

.doc input[type='checkbox']:hover { /* On mouse-over, add a grey background color */
  background-color: #ccc;
}


/* Header - footer */
/* Styles go here */
.page-header, .page-footer  {
    display: none;
}

.page-header, .page-header-space {
  height: 100px;
}

.page-footer, .page-footer-space {
  height: 50px;

}

.page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid black; /* for demo */
  background: yellow; /* for demo */
}

.page-header {
  position: fixed;
  top: 0mm;
  width: 100%;
  border-bottom: 1px solid black; /* for demo */
  background: yellow; /* for demo */
}

.page {
  page-break-after: always;
}

@page {
  margin: 20mm
}


/* TODO:
 v callouts
 * number fences
 * wrap fences
 * http://flowchart.js.org/
 * https://bramp.github.io/js-sequence-diagrams/
 * https://support.typora.io/Draw-Diagrams-With-Markdown/
 * style: https://developer.mozilla.org/en-US/docs/Web/CSS/font-family
 * terminal fence as https://www.linuxuprising.com/2019/06/how-to-upgrade-to-kde-plasma-516-in.html
 */
